<footer class="site-footer">

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="subhead">Site Nav</div>
                <ul>
                    {% for item in site.data.navigation %}
                        <li><a href="{{ item.url }}">{{item.name}}</a></li>
                    {% endfor %}
                </ul>

            </div>
            <div class="col">
                <div class="subhead">Elsewhere</div>
                <ul>
                    <li>
                        <a href="https://github.com/dannguyen">
                            <span class="icon fa fa-github-alt"></span>
                            Github
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/dancow">
                            <span class="icon fa fa-twitter"></span>
                            Twitter
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.danwin.com">
                            <span class="icon fa fa-rss"></span>
                            Blog
                        </a>
                    </li>
                </ul>
            </div>


            <div class="col">
                <div class="subhead">
                    About Dan
                </div>
                <p class="site-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quod asperiores sunt, magni, dolore suscipit eveniet similique incidunt enim placeat hic veritatis.
                </p>
            </div>

        </div>

    </div>

</footer>

