<footer class="site-footer">

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="subhead">Site Nav</div>
                <ul>
                    {% for item in site.data.navigation %}
                        <li><a href="{{ item.url }}">{{item.name}}</a></li>

                    {% endfor %}
                </ul>

            </div>
            <div class="col">
                <div class="subhead">Elsewhere</div>
                <ul>
                    <li><span class="icon fa fa-github-alt"></span>Github</li>
                    <li><span class="icon fa fa-twitter"></span>Twitter</li>
                    <li><span class="icon fa fa-rss"></span>Blog</li>
                    <li><span class="icon fa fa-flickr"></span>Photos</li>
                </ul>
            </div>


            <div class="col">
                <div class="subhead">
                    About Dan
                </div>
                <p class="site-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quod asperiores sunt, magni, dolore suscipit eveniet similique incidunt enim placeat hic veritatis.
                </p>
            </div>

        </div>

    </div>

</footer>

