body.homepage{
    h1.site-title{
        @include font-size($display3-size);
        font-family: $font-family-display;
    }

    .banner{
        padding-bottom: 1.0rem;
        padding-top: 1.5rem;
    }


    .list-posts{
        .created_at{
            color: $gray-600;
            font-size: $font-size-base * 0.8;
            padding-right: 0.3rem;
            padding-bottom: 0.2rem;
        }
    }
}
