---
layout: base
---

{% include head.html %}

<body class="default">

    {% include header.html %}

    <div class="container">
        <h1 class="title page-title">
            {{page.title}} {% if page.status == 'tk' %} (draft){% endif %}
        </h1>

        <section class="sec description page-description">
            {{page.description}}
        </section>

        <section class="content">
            {{ content }}
        </section>
    </div>

<!-- </body> is closed by includes/footer.html -->
